@charset "utf-8";
/* CSS Document */

table{
	border: solid 2px #3E556B;
	padding: 1px 5px 10px 5px;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

th{
	font: bold 14.5px raleway;
}
#titre{
    background: rgba(255,255,255,0.10);
    padding: 13px 8px;
    margin: 0% 30.6% 0% 30.6%;
    position: relative;
    top: 27px;
    z-index: -1;
}

.list{
	font:bold 17px Raleway;
    color: aliceblue;
	background: #3E556B;
	position: relative;
	top: 8px;
	padding: 8px;
	text-align: center;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#bouton{
	background: #d34836;
	padding: 5px 15px;
	font:bold 20px raleway;
	color: aliceblue;
	text-decoration: none;
	border-radius: 20px;
	position: relative;
	left: -48%;
	top: 10px;
	border:solid 3px #34495e;
}

#logo{
	width: 4%;
	margin-left: 125px
}

#nav{
	background: rgba(0,0,0,0.2);
	padding: 0px;
}

#modif{
	font:bold 13px raleway;
	color:aliceblue;
	background: #2ecc71;
	padding: 10px;
	position: relative;
	top: 7.5px;
	cursor: pointer;
	text-decoration: none;
}

#modif:hover{
	background: #27ae60;
}

#supp{
	font:bold 13px raleway;
	color:aliceblue;
	background: #e74c3c;
	padding: 10px;
	position: relative;
	top: 7.5px;
	cursor: pointer;
	text-decoration: none;
}

#supp:hover{
	background: #c0392b;
}