@charset "utf-8";
/* CSS Document */

#logo{
	width: 8%;
	margin-top: 40px;
	margin-bottom: -50px;
}

h1{
	margin-top: 13px;
	font: bold 16px raleway;
	color: aliceblue;
	text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.32);
}

#entrer{
border-radius:5px 5px 5px 5px;
border-color:#2c3e50;
background: rgba(127, 140, 141, 0.2);
padding:8px 15px 8px 15px;
border:none;
text-align: center;
font:bold 14.5px Raleway;
color: white;
}

#inscription:hover{
	color: rgba(67,86,103,1.00);
}

h2{
font:bold 20px Raleway;
color: aliceblue;
background: rgba(189, 195, 199,0.1);
padding:6px 15px 6px 15px;
}

#bouton{
margin-top: 25px;
margin-bottom: 0px ;
border-radius:20px 20px 20px 20px;
background: #d34836;
border:none;
color:#fff;
font:bold 25px Raleway;
padding:6px 15px 6px 15px;
box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

#bouton2{
margin-top: 25px;
margin-bottom: 15px ;
border-radius:20px 20px 20px 20px;
background: #d34836;
border:none;
color:#fff;
font:bold 25px Raleway;
padding:6px 15px 6px 15px;
box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
cursor: pointer;
}

#bouton:hover{
background: #7f8c8d;
}

#bouton2:hover{
background: #7f8c8d;
}

#cadre{
	background: #34495e;
    border:solid 2px #3E556B;
	margin: 4% 42% 2% 42%;
	padding:2px 0px 2px 0px;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#cadre2{
	background: #34495e;
    border:solid 2px #3E556B;
	margin: 9% 42% 2% 42%;
	padding:2px 0px 2px 0px;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#info{
	font:bold 15px Raleway;
	color: aliceblue;	
	background: #2c3e50;
	padding: 20px;
	margin-bottom: 0px;
	padding-top: 20px;
	margin-top: 5.3%;
}

#infocadre{
	
}

footer{
	margin-bottom: 0px;
	position: fixed; 
	bottom: 0px;
	left: 0; 
	right: 0;
}