@charset "utf-8";
/* CSS Document */

#supp{
	font:bold 50px raleway;
	color:aliceblue;
	background: #e74c3c;
	padding: 2px 20px 0px 20px;
	position: relative;
	top: 35px;
	cursor: pointer;
	text-decoration: none;
	border: none;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#supp:hover{
	background: #c0392b;
}

label{
	font:bold 60px raleway;
	color:aliceblue;
}

form{
	background: rgba(3,3,3,0.20);
	margin-top: 20%;
	padding: 10px
}