@charset "utf-8";

#cadrenom{
	margin-top: 100px;
	padding: 20px 0px 0px 0px;
	position: relative;
	z-index: -1;
}

#cadre2{
	border: dashed 3px rgba(0,90,150,1.00);
	border-radius: 40px;
	background: rgba(71,116,146,0.50);
	color: aliceblue;
	font-size: 25px;
	font-family: 'Contrail One', cursive;
	margin-bottom: 5px;
	padding: 5.5px 15px;
	text-align: center;
    background-position: center;
}

#fond{
	position: relative;
	z-index: -1;
}

#cadre5{
	border: dashed 3px rgba(0,90,150,1.00);
	border-radius: 40px;
	background: rgba(71,116,146,0.50);
	color: aliceblue;
	font-size: 20px;
	font-family: 'Contrail One', cursive;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 5.5px 15px;
	text-align: center;
	position: relative;
	top:5px;
}

#titres{
	position: relative;
	top:50px;
}

p5{
	position: relative;
	color:rgba(41,41,41,1.00) ;
	font-size: 30px;
	font-family: "Big Noodle";
	text-align: center;
	margin: 0px 72px 0px 80px;
}

#inscription2{
	border: none;
	background: rgba(47,137,198,1.00);
	font-style: italic;
	font-size: 50px;
	font-family: "Big Noodle";
	color: aliceblue;
	padding: 0px 15px;
	position: relative;
	z-index: 2;
	top:150px;
	cursor: pointer
}

#inscription2:hover{
	background-image: linear-gradient(to right, #eae9e9, #c4c4c4);
	color: rgba(47,137,198,1.00);
}