@font-face {
	font-family: "Big Noodle";
	src: url('../fonts/big_noodle_titling.ttf');
}

@font-face {
	font-family: "Big Noodle2";
	font-style: italic;
	src: url('../fonts/big_noodle_titling_oblique.ttf');
}
