@charset "utf-8";
@import "fonts.css";
/* CSS Document */

body{
	font-family: "Big Noodle", Helvetica, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	position: relative;
	z-index: -2;
	background-image: url("../images/font.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed
}

header{
	z-index: 1;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

ul li a {
	display:block;

 	width:100px;
}

#nav{
	padding: 35px 0px 19px 0px;
	background: #dad9d9;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.2);
	z-index: 1;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
}

ul {
	list-style-type:none;
 }
li {
 margin-right:35px;
 position: relative;
 top: -40px;
 float:right;
 background: #3498db;
 /*font: italic 35px "Big Noodle";*/
 font-size: 35px;
 font-style: italic;
 color: aliceblue;
 padding: 2px 8px;
 cursor: pointer;
 /*box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);*/
 z-index: 1;
 right: 130px;
 }

li:before {
  	content: " ";
  	background: #3498db;
  	position: absolute;
  	top:0;
  	left:-10px;
  	right:-10px;
  	bottom:0;
  	z-index: -1;
  	transform: skewX(-8deg);
 }

li:hover{
	padding: 19.5px 8px;
	top: -58px
}

#active{
	padding: 19.5px 8px;
	top: -58px
}

.bold{
	font-weight: bold;
}

#connexion {
	float: right;
	border-radius:20px 0px 0px 20px;
	border: none;
	background: rgba(52,152,219,1.00);
	font-style: italic;
	font-size: 25px;
	font-family: "Big Noodle";
	color: aliceblue;
	padding: 2px 10px 0px 15px;
	position: relative;
	top: -32px;
	right: -433px;
}

#connexion:hover{
	background-image: linear-gradient(to right, #eae9e9, #c4c4c4);
	color: rgba(47,137,198,1.00);
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

#slider{
	width: 100%;
	position: relative;
	top: -58px;
	z-index: -1;
}

#sondage{
	border: none;
	border-radius: 25px;
	background: hsla(204,70%,53%,1.00);
	font-style: italic;
	font-size: 35px;
	font-family: "Big Noodle";
	padding: 3px 20px 0px;
	top: -85px;
	position: relative;
	color: aliceblue;
}

#sondage:hover{
	background-image: linear-gradient(to right, #eae9e9, #c4c4c4);
	color: rgba(47,137,198,1.00);
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

#text1{
	float: right;
	position: relative;
	right: -13%;
	margin: 0px 20% 0px 55%;
	margin-top: -300px
}

#text2{
	float: left;
	position: relative;
	left: -13%;
	margin: 0px 55% 0px 20%;
	margin-top: -300px;
}

#ban{
	position: relative;
	top: -95px;
	max-width: 17%
}

h2{
	font-style: italic;
	font-size: 60px;
	font-family: "Big Noodle";
	margin-bottom: 27px;
	color: hsla(204,70%,53%,1.00);
}

p2{
	font-style: italic;
	font-size: 280%;
	position: relative;
	top:-20px ;
	font-family: "Big Noodle";
	color: hsla(0,0%,16%,1.00)
}

#footerindex{
	position: absolute; 
	bottom: -116px;
	left: 0; 
	right: 0;
}
#footerbar{
	background:rgba(41,41,41,1.00);
	margin-bottom: 0px;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

p3{
	font-style: italic;
	font-size: 35px;
	font-family: "Big Noodle";
	color:aliceblue;
	float: left;
	position: relative;
	top:20px;
	left: 20px
}

#studio{
	vertical-align: middle;
	padding: 0px
}