@charset "utf-8";
@import "fonts.css";
/* CSS Document */
body{
	padding: 0;
	margin: 0;
	background-image: url("../images/font.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed
}

#titrebar{
	background: rgba(1,1,1,0.15);
	margin-top: 0px;
}

span {
  	font-style: italic;
	font-size: 50px;
	font-family: "Big Noodle";
  	color: #fff;
  	position: relative;  
  	padding: 3px;
  	display: inline-block;
  	margin: 0px;
}

span:before {
  	content: " ";
  	background: #3498db;
  	position: absolute;
  	top:0;
  	left:-10px;
  	right:-10px;
  	bottom:0;
  	z-index: -1;
  	transform: skewX(-8deg);
  
}

.incline{
  	font-weight: bold;
  	font-style: italic;
}

#cadre{
	background-image: url(../images/cadre.png);
	border: none;
	background-repeat: no-repeat;
	color: aliceblue;
	font-size: 25px;
	font-family: 'Contrail One', cursive;
	margin-bottom: 20px;
	padding: 14.5px 66px;
	text-align: center;
    max-width: 265px;
    max-height: 15px;
    width: 22%;
    background-position: center;
}

p1{
	font-style: italic;
	font-size: 30px;
	font-family: "Big Noodle";
	color: #292929;
}

#box{
	margin-top: 3%;
}

#choix{
	background: rgba(41,41,41,1.00);
	max-width: 13%;
	padding: 3px 0px;
	position: relative;
	margin-top:15px ;
	left: 45.3%
}
p2{
	background: rgba(47,137,198,1.00);
	font-style: italic;
	font-size: 200%;
	font-family: "Big Noodle";
	padding: 3.5px 17px;
	color: aliceblue;
	margin-left: -80px
}

label{
	font-style: italic;
	font-size: 200%;
	font-family: "Big Noodle";
	color: aliceblue;
	position: relative;
	left: 10px;
	margin-right: 20px
}

#inscription{
	border: none;
	background: rgba(47,137,198,1.00);
	font-style: italic;
	font-size: 50px;
	font-family: "Big Noodle";
	color: aliceblue;
	padding: 0px 15px;
	position: relative;
	z-index: 2;
	top:25px;
	cursor: pointer
}

#inscription:hover{
	background-image: linear-gradient(to right, #eae9e9, #c4c4c4);
	color: rgba(47,137,198,1.00);
}

#radiobu{
	position: relative;
	top:-5px;
}

footer{
	position: absolute; 
	bottom: 0;
	left: 0; 
	right: 0;
}
#footerbar{
	background:rgba(41,41,41,1.00);
	margin-bottom: 0px;
	box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

p3{
	font-style: italic;
	font-size: 50px;
	font-family: "Big Noodle";
	color:aliceblue;
	float: left;
	position: relative;
	top:20px;
	left: 20px
}

#studio{
	vertical-align: middle;
	padding: 0px
}