@charset "utf-8";
/* CSS Document */
#nav2{
	
	background: #fff;
	z-index: -1;
	background-image: url("../images/titre.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}

body{
	background: #dad9d9;
}

p4{
	font-size: 30px;
	font-family: "Big Noodle";
	font-style: italic;
	padding: 0;
	margin-top: 12px;
	margin-left: 10px;
	float: left;
	font-weight: bold;
	color: #292929;
}

#logo{
	position: relative;
	z-index: 2;
	padding: 0;
	margin: 0;
	
}