@charset "utf-8";
/* CSS Document */

#bouton{
	font-style: italic;
	font-size: 45px;
	font-family: "Big Noodle";
	color: aliceblue;
	background: #3498db;
	padding: 3px 10px;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	top: 20px;
	left: -4px
	
}

th{
	font-size: 35px;
	font-family: "Big Noodle";
	color: rgba(41,41,41,1.00);
	background: rgba(0,0,0,0.10);
	width: 50%
}

#bouton:before {
  	content: " ";
  	background: #3498db;
  	position: absolute;
  	top:0;
  	left:5px;
  	right:-10px;
  	bottom:0;
  	z-index: -1;
  	transform: skewX(-10deg);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.35);
 }

#bouton:hover{
	padding: 3px 25px 3px 10px;
}

#tablediv{
	margin: 80px 29% 30px 29%;
	position: relative;
	z-index: -2;
	background: hsla(0,0%,74%,0.30);
	padding: 1px 90px 70px;
}

table{
	margin-top: 50px;
	background: rgba(218,217,217,1.00);
	position: relative;
	z-index: -2;
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.35);
	border:solid 1.5px hsla(204,70%,53%,1.00)
}

#sondages{
	border: none;
	border-radius: 25px;
	background: hsla(204,70%,53%,1.00);
	font-style: italic;
	font-size: 35px;
	font-family: "Big Noodle";
	padding: 3px 20px 0px;
	top: -20px;
	position: relative;
	color: aliceblue;
}

#sondages:hover{
	background-image: linear-gradient(to right, #eae9e9, #c4c4c4);
	color: rgba(47,137,198,1.00);
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}